.About {
    padding: 2%;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.Background {
    width: 100%;
}

.UnorderedList {
    padding-left: 1.2rem;
}

.HorizontalLine {
    width: 98%;
    position: relative;
    left: 0.5%;
    margin-left: 1%;
}
