.About{
    padding: 2%;
    max-width: 80rem;
    margin:auto;
}

.Background{
    background-color: rgb(249, 249, 249);
}

.Header{
    border-left: 0.5rem solid green;
    padding-left: 0.5rem;
}

.Header h1{
    font-size: 3rem;
}

.Header h2{
    font-size: 1.5rem;
}

.BodySubHeader{
    font-size: 1.3rem;
}

.BodyText{
    font-size: 1rem;
    white-space: pre-wrap;
}

.BodyText p{
    margin-left: 1rem;
}

.ParagraphMargin{
    margin-bottom: 1rem;
}

.UnorderedList{
    padding-left: 1.2rem;
    margin-left: 1rem;
}

.HorizontalLine{
    width: 98%;
    position: relative; left: 0.5%;
    margin-left: 1%;
}