.About{
    padding: 1%;
}

.AboutTitle{
    font-size: 3rem;
}

.BodyHeader{
    font-size: 1.5rem;
}

.BodySubHeader{
    font-size: 1.3rem;
}

.BodyText{
    font-size: 1rem;
    white-space: pre-wrap;
}

.HorizontalLine{
    width: 99%;
    position: relative; left: 0.5%;
}