.horizontalCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.verticalCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}