.NavigationLinkBase {
    font-size: 1.25rem;
    font-weight: bold;
    padding: .75rem;
    border-radius: .75rem;
}

.NavigationLink {
    color: var(--background-rgb);
}

.NavigationLinkSelected {
    color: var(--primary-accent-rgb);
    background: var(--background-rgb);
}

@media (prefers-color-scheme: dark) {
    .NavigationLink {
        color: var(--primary-accent-rgb);
    }

    .NavigationLinkSelected {
        color: var(--background-rgb);
        background: var(--primary-accent-rgb);
    }
}