.NavigationLinkBase {
    font-size: 1.25rem;
    font-weight: bold;
    padding: .75rem;
    border-radius: .75rem;
    text-decoration: none;
}

.NavigationLink {
    color: var(--primary-accent-rgb);
}

.NavigationLinkSelected {
    color: var(--background-rgb);
    background: var(--primary-accent-rgb);
}