.Navigation {
    background: var(--background-rgb);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    height: 100vh;
    width: max-content;
    top: 0;
    padding: 3rem;
    color: var(--primary-accent-rgb);
}

.NavigationTop {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.NavigationBottom {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Logo {
    width: 14rem;
}

.LogoImage {
    width: 100%;
    height: auto;
}

.Links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.X {
    width: 28px;
    height: 28px;
    padding: 2px;
    filter: brightness(0);
}

.X:hover {
    background-color: #aad350;
}

@media (prefers-color-scheme: dark) {
    .X {
        filter: none;
    }
}