:root {
  --background-rgb: rgb(249, 249, 249);
  --secondary-background-rgb: hwb(78 71% 3%);
  --primary-accent-rgb: #616d48;
  --primary-text-rgb: #1A1A1A;
  --secondary-accent-rgb: #AAD350;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: #616d48;
    --secondary-background-rgb: #889669;
    --primary-accent-rgb: #EAF4D3;
    --primary-text-rgb: #FFFFFF;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
}

.body-inner {
  display: flex;
}

p, ul {
  line-height: 1.7;
}

a {
  color: blue;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  a {
    color: #7799ff;
  }
}

.children {
  flex-grow: 1;
}
