.RootWrapper {
    display: flex;
    flex-direction: column;
}

.PersonaAreaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.PersonaAreaWrapper>* {
    margin: 0 0.5rem;
}

.TextAreaWrapper {
    display: flex;
    flex-direction: row;
}

.DisplayName {
    align-self: center;
}