.WorkIntroduction{
    padding: 2%;
    width: 100%;
    max-width: 60rem;
    margin: 0;
    box-sizing: border-box;}

.Background{
    background-color: rgb(249, 249, 249);
}

.HeaderImage{
    box-sizing: border-box;
    background-image: none;
    background-color: aliceblue;
    /*あとでヘッダー画像をここにつける*/
    /*50:21*/
    width: 100%;
    height: 50vh;
    /*この下はあまり変更しないで*/
    display: flex;
    align-items: flex-end;
    box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.2) inset;
    margin:0 auto;
}

.HeaderImageText{
    margin-left: 2rem;
    color:red !important;
    font-size: x-large;
}

.Header{
    border-left: 0.5rem solid green;
    padding-left: 0.5rem;
}

.Header h1{
    font-size: 3rem;
}

.Header h2{
    font-size: 1.5rem;
}

.BodySubHeader{
    font-size: 1.3rem;
}

.BodyText{
    font-size: 1rem;
    white-space: pre-wrap;
}

.BodyText p{
    margin-left: 1rem;
}

.BodySubHeader{
    font-size: 1.3rem;
}

.ParagraphMargin{
    margin-bottom: 1rem;
}

.UnorderedList{
    padding-left: 1.2rem;
    margin-left: 1rem;
}

.HorizontalLine{
    width: 98%;
    position: relative; left: 0.5%;
    margin-left: 1%;
}